/* Master styles */
body {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav-styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    font-weight: bold;
    font-size: 1.5em;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: gray;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid gray;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-link-wrapper {
    border-bottom: 1px solid gray;
}

.active-link-wrapper a {
    color: black;
}
/* Home styles */
.home-wrapper {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.description {
    font-weight: bold;
    text-transform: uppercase;
}

.home-item-wrapper {
    color: gray;
    text-decoration: none;
    height: 350px;
    position: relative;
    opacity: 75%;
    /** height causes problems when element slides away from mouse making it jitter **/
    transition: opacity 0.5s, height 0.5s, color 0.5s;
}

.home-item-wrapper:hover {
    opacity: 100%;
    height: 325px;
    color: black;
}

/* Portfolio styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 38px;
    padding-right: 38px;
}

.portfolio-item-wrapper {
    height: 350px;
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    /* this needs to be changed to avoid unalignment on very narrow screens */
    padding-left: 25px;
    padding-right: 25px;
}

.logo-wrapper img{
    width: 40%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: white;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* about styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    padding-left: 38px;
    padding-right: 38px;
}

.profile-image-wrapper {
    width: 100%;

}

.profile-image-wrapper > img {
    width: 100%;
}

.profile-content-wrapper {
    padding-left: 38px;
}

.profile-content-wrapper h1 {
    color: black;
}